{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" type="image/svg+xml" href="{% static 'core/images/logo.svg' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'core/style.css' %}">

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{request.scheme}}://{{ request.get_host }}/" />
  <meta property="og:image" content="{{request.scheme}}://{{ request.get_host }}{% static 'core/images/ttv2xiv-screenshot.png' %}" />     

  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:image" content="{{request.scheme}}://{{ request.get_host }}{% static 'core/images/ttv2xiv-screenshot.png' %}" />
 

  {% block css %}{% endblock css %}
</head>
<body>
  <nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'index' %}">
        Home
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{% url 'about' %}" class="navbar-item">About</a>
        <a href="https://addons.mozilla.org/en-US/firefox/addon/twitch-to-ffxiv-names/" class="navbar-item">Firefox</a>
        <a href="https://chrome.google.com/webstore/detail/mioocdohifjeekbijphodbjiojgiboen" class="navbar-item">Chrome</a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="section has-text-centered">
    {% block content %}{% endblock content %}
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>Original idea by <a href="https://www.twitch.tv/didntnoticeyou">didntnoticeyou</a>. Inspired by <a href="https://pronouns.alejo.io/">Twitch Chat Pronouns</a></p>
      <p>
        <a class="mx-3" href="#" id="contact-button">Contact</a>
        <a class="mx-3" href="https://github.com/mmascorro/ttv2xiv">GitHub</a>
      </p>
    </div>
  </footer>
  
  <script src="{% static 'core/main.js'  %}"></script>
  {% block js %}{% endblock js %}
</body>
</html>